<h1>Create New Artist</h1>
<%= form_for(@artist) do |f|  %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :bio %>
  <%= f.text_area :bio %>
  <br>
  <%= f.submit %>
<<<<<<< HEAD
<% end %>
=======
<% end %>
>>>>>>> d4a53349eb45503043e5392cc6f64b5dfff023b9
